.nav {
  width: 100%;
  background-color: white;
  padding: 0 400px 0 400px;
  z-index: 10;
  opacity: 0.7;

}

      .nav__list {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 50px;
      }

            .nav__item {
              box-sizing: border-box;
              display: inline-block;
              width: 24%;
              height: 100%;
              text-align: center;
              line-height: 48px;
              padding: 0;
              text-transform: uppercase;
            }

                  .nav a {
                    text-decoration: none;
                    color: #616161;
                  }

                  .nav a:hover {
                    text-decoration: underline;
                    color: #212121;
                  }