/* ------ MIXITUP FILTER ------- */

/****** STEP 1 and 2 ******/

label {
  font-weight: 300;
  margin: 0 .4em 0 0;
  font: 20px BlinkMacSystemFont;
}

button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active {
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.controls{
  padding: 1em;
  background: #333;
  color: #eee;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}


.project-belt:after {
  content: '';
  display: inline-block;
  width: 100%;
}


.project-belt .mix:after {
  /*content: attr(data-myorder);*/
  display: inline-block;
  /*vertical-align: top;*/
  /*padding: 4% 6%;*/
  /*font-weight: 700;*/
}

.project-belt .mix:before {
  content: '';
  display: inline-block;
}

/*@media all and (min-width: 420px){
  .project-belt .mix,
  .project-belt .gap{
    width: 32%;
  }
}*/

/*@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}*/


/****** STEP 3******/

#Contains .mix {
  display: none;
}

/* ------------------------------------------------ */

.section-project {
  /*overflow-x: hidden;*/
  overflow-x: visible;

}

/*.project-belt {
  width: 200%;
  position: relative; 
  left: 0%;
  transition: 1s;
}*/

.project-belt {
  width: 100%;
  position: relative; 
  left: 0%;
  transition: 1s;
}

/*.thumb-wrap, .project-wrap {
  width: 50%;
  float: left;
}
*/
.thumb-wrap {
  width: 100%;
  float: left;
}

.projects {
margin: 0 0 0 0;
padding: 0 auto;
width: 100%;
height: 680px;
background: #e6e6e6;
position: relative;

}

      .projects h1 {
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0px;
        color: #367cb5;
        font-size: 20px;
        font-family: 'Arial', cursive;
        
      }

      .thumb-container {
        display: block;
        max-width: 860px;
        margin: 0px auto;
        padding-bottom: 100px;
        z-index: 2;
      }

            .thumb-unit {
              width: 22%;
              display: block;
              float: left;
              position: relative;
              padding-top: 13%;
              perspective: 300px;



              /*background-image: url(../img/project_img/oculus-rift-noun-project-james-mayle.png);*/
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              transition: background-size 0.7s ease-in-out;

              background-size: 300px;
              overflow: hidden;
              z-index: 2;
            }


                  .thumb-overlay{
                    position: absolute 0% 0px null 0px;
                    top: 100%;
                    right: 0px;
                    bottom: null;
                    left: 0px;
                    height:100%;
                    background: rgba(0, 0, 0, 0.3);
                    text-align: center;
                    transition: 1s;
                    display: flex;
                    overflow: hidden;
                    opacity: 0;



                   
                    align-items: center;

                    display: block;
                    padding: 20px;
                    color: white;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-family: 'Arial';
                    line-height: 1.2;

                  }

                  .thumb-unit:hover .thumb-overlay {
                    top: 0%;
                    right: 0px;
                    bottom: null;
                    left: 0px;
                    opacity: 1;
                  }
                  
                  .thumb-unit:hover {
                    background-size: 150%;
                    transition: background-size 0.7s ease-in-out;
                    -moz-transition: all 0.7s ease-in-out;
                    -webkit-transition: all 0.7s ease-in-out;
                    transition: all 0.7s ease-in-out;
                    
                  }


                  /*#bg-image:hover {
                    position: relative;
                    overflow: hidden;
                    transform: scale(1.1);
                    transition:all 0.6s;
                  }
*/
                  /*#bg-image:hover {
                    position: relative;
                    -webkit-transform: rotate(30deg);
                    -moz-transform: rotate(30deg);
                    -ms-transform: rotate(30deg);
                    -o-transform: rotate(30deg);
                    transform: rotate(30deg);
                    transform: scale(1.1);
                    transition:all 0.6s;
                    overflow: hidden;
                  }*/

                  
                  .zoom-icon {
                    line-height: 5;
                  }

@media screen and (max-width: 850px) {
  .thumb-unit {
    width: 50%;
    padding-top: 17%;
    display: block;
    position: relative;
  } 
  .projects {
    height: 860px;
  }
}

.project-container {
  max-width: 600px;
  margin: 0px auto;
  position: relative;
}

    .project-container img {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .project-container h4 {
      margin-bottom: 20px;
      margin-top:  0px;
      color: #767676;
      text-transform: uppercase;

    }

    .project-return {
      size: 40px;
      cursor: pointer;
      opacity:0.5;
      position: absolute;
      top: -8px;
      right: 615px;
      left: null;
      bottom: null;
      
  
      fill: rgba(0,0,0,0.4);
    }

    @media (max-width: 740px) {

      .project-container h4 {
        margin-left: 30px;
      }

      .project-return {
        position: absolute;
        /*right: 580px;*/
        left: -10px;

      }
    }

    .project-return:hover {
      opacity: 1;
    }

    /* ------------- POP DETAIL CARD -------------- */

    .pop_details { 
      position: absolute;
      width: 70%;
      height: 700px;
      margin: 0 auto;
      left: 0;
      right: 0;
      background-color: blue;
    }


