<link rel="stylesheet" href="css/about.css">
<div id="meSection" class="me" >
      <section>
        <h3> About Me </h3>
        <div class="face-lockup">
            <div class ="face-img"></div>
<!-- 
            <div class="icon-pencil"></div>
            <div class="icon-mouse"></div>
            <div class="icon-browser"></div>
            <div class="icon-video"></div>

             -->
        </div>
        <div class="blurb">
          <p>
            <strong> Lorem ipsum dolor sit amet, in vis vide inani torquatos. Ea aperiam scripserit qui. </strong> Mazim possit assentior ne cum, eos in dolores insolens nominati. Modo salutatus ne ius. Eos elit habemus at, cu vim invidunt aliquando delicatissimi, id eum solet verterem.

            Vel et alii maiorum vivendum, duo id nusquam urbanitas signiferumque, alii recusabo patrioque ea his. Usu idque erant forensibus ut, eu est dicunt civibus quaerendum. Eum brute discere recusabo in. Eam probo nostrum omnesque ne, ad mea tacimates prodesset vituperatoribus. Soleat dolores definiebas ut vix. Alii dolorum euripidis quo an, sed ei iracundia reprimique.
          </p>
        </div>
      </section>  
    </div>