<link rel="stylesheet" href="css/navbar.css">
<div class="nav" id="mynav">
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__item_a" id="home" href="#homeSection">Home</a></li>
    <li class="nav__item"><a class="nav__item_a" id="projects" href="#projectsSection">Projects</a></li>
    <li class="nav__item"><a class="nav__item_a" id="me" href="#meSection">Me</a></li>
    <!-- <li class="nav__item"><a id="contact" href="#contactSection">Contact</a></li> -->
    <li class="nav__item"><a id="resume" href="js/web/viewer.html?file=louis_resume.pdf">Resume</a></li>
  </ul>   
</div>
<!-- <div class="resume"><canvas id="the-canvas" style="border:1px solid black;"/></div> -->