<link rel="stylesheet" href="css/timeline.css">

<!-- <h2> Resume </h2> -->

<div class="timeline">
    <li> {% include timeline-events/event1.html %} </li>
    
    <li class="timeline-inverted"> {% include timeline-events/event2.html %} </li>
    
    <li> {% include timeline-events/event3.html %} </li>
    
    <li class="timeline-inverted"> {% include timeline-events/event4.html %} </li>
    
    <li> {% include timeline-events/event5.html %} </li>
    
    <li  class="timeline-inverted"> {% include timeline-events/event6.html %} </li>


    <li class="clearfix no-float"></li>
</div>
