<div class="timeline-badge">
    <a><i class="fa fa-circle invert" id=""></i></a>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4>Timeline Event</h4>
    </div>
    <div class="timeline-body">
        <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
    </div>
    <div class="timeline-footer primary">
        <p class="text-right">Mar-02-2014</p>
    </div>
</div>