<div class="timeline-badge">
    <a>
    	<i class="fa fa-circle invert" id=""></i>
	</a>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4>Timeline Event</h4>
    </div>
    <div class="timeline-body">
        <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
    </div>
    <div class="timeline-footer">
        <p class="text-right">Feb-23-2014</p>
    </div>
</div>