<div class="timeline-badge">
    <a>
    	<i class="fa fa-circle" id=""></i>
    </a>
    </div>
    <div class="timeline-panel">
    <div class="timeline-heading">
        <h4>Timeline Event</h4>
    </div>
    <div class="timeline-body">
        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
    </div>
    <div class="timeline-footer">
        <p class="text-right">Feb-21-2014</p>
    </div>
</div>