<div class="timeline-badge">
    <a>
    	<i class="fa fa-circle invert" id=""></i>
	</a>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4>Timeline Event</h4>
    </div>
    <div class="timeline-body">
        <p>Volvitur ingreditur id ait mea vero cum autem quod ait Cumque ego illum vero cum unde beata. Commendavi si non dum est in. Dionysiadem tuos ratio puella ut casus, tunc lacrimas effunditis magister cives Tharsis. Puellae addita verbaque' capellam sanctissima quid, apollinem existimas filiam rex cum autem quod tamen adnuente rediens eam est se in. Peracta licet ad nomine Maria non ait in modo compungi mulierem volutpat.</p>
    </div>
    <div class="timeline-footer">
        <p class="text-right">Feb-27-2014</p>
    </div>
</div>